.game-grid {
  display: grid;
  min-height: 70vh;
  max-height: 70vw;
  min-width: 70vh;
  max-width: 70vw;

  @media (max-width: 720px) {
    min-height: 70vw;
    max-height: 70vh;
    min-width: 70vw;
    max-width: 70vh;
  }

  grid-template-columns: repeat(4, 24%);
  grid-template-rows: repeat(4, 24%);
  gap: 1%;
}

.question-square {
  background-color: rgba(128, 128, 128, 0.5);
}

.answer-square {
  background-color: rgba(0, 100, 255, 0.2);
}
