.game-grid {
  display: grid;
  min-height: 60vh;
  max-height: 60vw;
  min-width: 60vh;
  max-width: 60vw;

  @media (max-width: 720px) {
    min-height: 70vw;
    max-height: 70vh;
    min-width: 70vw;
    max-width: 70vh6
  }

  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(4, 20%);
  gap: 1%;
}

.question-img {
  height: 80%;
}

.question-square {
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-square {
  background-color: rgba(0, 100, 255, 0.2);
}
