.board {
  display: grid;
  width: 100%;

  grid-template-columns: repeat(4, 24%);
  grid-template-rows: repeat(4, 24%);
  gap: 1.25%;

  &-wrapper {
    position: relative;
    min-height: 50vh;
    max-height: 50vw;
    min-width: 50vh;
    max-width: 50vw;

    @media (max-width: 720px) {
      min-height: 50vw;
      max-height: 50vh;
      min-width: 50vw;
      max-width: 50vh;
    }

    display: flex;
  }
}

.question {
  &-img {
    height: 80%;
  }

  &-square {
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.answer {
  &-square {
    background-color: rgba(0, 100, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-select-button {
    &:focus {
      outline: none !important;
    }
  }
}

.input {
  flex-grow: 1;
  border-radius: 1rem;
  max-height: 5%;

  &-wrapper {
    position: absolute;
    top: 27%;
    bottom: 2%;
    left: 27%;
    padding: 1rem;
    right: 2%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
    display: flex;
    flex-direction: column;
  }

  &-cancel-wrapper {
    display: flex;
    justify-content: end;
  }
}

.square-color {
  &-grey {
    background-color: grey;
  }

  &-red {
    background-color: red;
  }

  &-blue {
    background-color: blue;
  }
}
